body {
    height:100vh;
    width:100vw;
    background-image: url("https://www.tapeciarnia.pl/tapety/normalne/121049_zakopane_tatry_czarny_staw.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
}

.header-container {
    vertical-align: middle;
}

.header {
    padding: 10px !important;
    background: rgba( 255, 255, 255, 0.05);
    text-shadow: 0px 3px 6px #000000 !important;
    text-align: center !important;
    font-size: 3.2em !important;
    color: #fff !important;
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 36vh !important;
}