.trip-verification--button {
    width: 110px;
    height: 40px;
}

.trip-verification--container {
    text-align: center;
}

.trip-verification--segment {
    min-height: 60vh;
    height: fit-content;
    width: 75vw;
    display: inline-block;
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
}

.trip-verification--label {
    float: left;
    margin-bottom: 4px;
    font-weight: bold;
}