.appheader--container {
    width: 100%;
    text-align: center;
}

.appheader--button {
    color: white !important;
    background-color: transparent !important;
}

.appheader--text-container {
    display: inline-flex;
    padding: .65em .65em .65em;
    align-self: center;
    font-size: xx-large;
    color: white;
    font-family: 'Montserrat', sans-serif;
}