.trip-verification-data--segment-half {
    width: 46%;
    height: 60vh;
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 0px !important;
}

.trip-verification-data--input-wrapper {
    display: table;
    width: 80%;
    padding-top: 30px;
    margin: auto;
}

.trip-verification-data--input {
    margin-bottom: 50px;
    width: 100%;
    word-break: break-word;
    max-height: fit-content;
}

