.untraveled-trips--container {
    text-align: center;
}

.untraveled-trips--segment {
    min-height: 80vh;
    height: fit-content;
    width: 85vw;
    display: inline-block;
}

.untraveled-trips--button {
    margin-bottom: 20px !important;
}
